<%# provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome to rails tutor</h1>
  <h2>This is homepage for the <%= link_to "Ruby on rails tutorial", "https://blabalabl.com" %> Sample application</h2>

  <%= link_to "sign up now", "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.jpg",alt: "rails"), "https://rubyonrails.org/" %>
  <h1>StaticPage#home</h1>
  <p>Find me in app/views/static_page/home.html.erb</p></body>
